<configuration>
  <property name="server.home" value="../logs" />

  <appender name="file" class="ch.qos.logback.core.FileAppender">
    <file>${server.home}/weather.log</file>
    <encoder>
      <Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n</Pattern>
    </encoder>
  </appender>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n</Pattern>
    </encoder>
    <withJansi>true</withJansi>
  </appender>

  <logger name="weather.viewer">
    <level value="INFO"/>
  </logger>

  <root>
    <level value="ERROR"/>
    <appender-ref ref="console"/>
    <appender-ref ref="file"/>
  </root>

</configuration>